# Dependencies
node_modules/
.claude/

# Build / Cache
dist/
docs/
.rslib/
coverage/

# Database
data/

# Environment
.env
.env.*
!.env.example

# Lockfiles
*.lock
# pnpm-lock.yaml # as you need to commit this file for reproducible builds
# pnpm-workspace.yaml # as you need to commit this file for reproducible builds

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Local
.DS_Store
Thumbs.db
*.local
*.log*
